.contact {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  text-align: center;

  .contact1 {
    width: 500px;
    padding: 1rem;
    border-radius: 50px;
  }
}
