.hero {
  height: 100vh;
  background: #EBF1F9;
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;

  &__stage {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
  }

  &__card {
    position: absolute;
    width: 70vw;
    aspect-ratio: 3/4;
    object-fit: cover;
    border: 4px solid #111;
    border-radius: 10px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: scale(0.8);
    transition: transform 1s ease, opacity 1s ease;
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 7;
    width: 100%;

    h1, p {
      color: #fff;
      opacity: 0;
      transform: translateY(24px);
      transition: opacity 0.7s ease, transform 0.7s ease;
      text-shadow: 0 2px 10px rgba(0, 0, 0, 9);
      padding: 0 1rem;
    }

    h1 {
      font-size: 3.5rem;
      font-weight: 900;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.6rem;
      font-weight: 600;
    }
  }

  &.animate {
    .hero__card--center {
      opacity: 1;
      transform: scale(1);
      transition-delay: 0.1s;
    }

    .hero__card--left {
      opacity: 1;
      transform: translateX(-180px) rotate(-10deg) scale(1);
      transition-delay: 0.8s;
    }

    .hero__card--right {
      opacity: 1;
      transform: translateX(180px) rotate(10deg) scale(0.95);
      transition-delay: 1s;
    }

    .hero__text h1,
    .hero__text p {
      opacity: 1;
      transform: translateY(0);
    }

    .hero__text h1 {
      transition-delay: 1.2s;
    }

    .hero__text p {
      transition-delay: 1.4s;
    }
  }
}

/* Tablette */
@media (min-width: 768px) {
  .hero {
    &__card {
      width: 40vw;
    }
    .hero__text h1 {
      font-size: 5rem;
    }
    .hero__text p {
      font-size: 2rem;
    }
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .hero {
    margin-top: 2rem;
    &__card {
      width: min(28vw, 420px);
    }
    .hero__text h1 {
      font-size: 7rem;
    }
    .hero__text p {
      font-size: 3rem;
    }
  }
}
