// ==============================
// HEADER
// ==============================
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: $primary-color;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo img {
    width: 50px;
  }

  .header_right {
    display: flex;
    align-items: center;
    gap: 1rem;

    .burger {
      background: none;
      border: none;
      padding: 1rem;
      font-size: 2rem;
      cursor: pointer;
      color: $text;
      transition: transform 0.3s ease;

      &.rotate {
        transform: rotate(90deg);
      }
    }
  }

  .header__nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    padding: 0.5rem;
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
    transition: $transition-base;

    a {
      color: $text;
      background-color: #eee;
      width: 100%;
      padding: 1rem;
      text-align: center;
      border-radius: $radius-sm;
      text-decoration: none;
      font-weight: 500;

      &.active {
        background-color: $hover;

      }
    }

    &.show {
      transform: translateY(0);
      opacity: 1;
      pointer-events: auto;
    }
  }

  .devis {
    color: $text;
    padding: 0.5rem 2rem;
    margin-right: 1rem;
    border: solid 1px #111;
    border-radius: $radius-md;
    font-weight: 400;
    text-decoration: none;
    transition: border-radius 0.3s ease-in-out;
  
    &:hover {
      border-radius: $radius-pill;
    }
  }
  
  
}

// Desktop layout
@media (min-width: 768px) {
  .header {
    .header_right {
      display: none; // on masque le bouton et burger ici
    }

    display: flex;
    align-items: center;
    justify-content: space-between;

    .header__nav {
      position: static;
      transform: none;
      opacity: 1;
      pointer-events: auto;
      flex-direction: row;
      align-items: center;
      gap: 2rem;
      padding: 0;

      // Ajoute le bouton devis à droite de la nav
      &::after {
        content: '';
        display: inline-block;
      }

      a.devis {
        display: none;
        }
      }
    }
  }

// ==============================
// FOOTER
// ==============================

.footer-form {
  background-color: $bg-color;
  padding: 4rem 1.5rem;

  section {
    max-width: 1200px;
    margin: 0 auto;
  }

  h2 {
    font-size: $font-size-xl;
    margin-bottom: 2rem;
    text-align: center;
    color:$text;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 2.3rem;

    input,
    textarea {
      padding: 1rem;
      border-radius: $radius-md;
      border: solid 1px #111;
      font-size: $font-size-md;
    }

    textarea {
      min-height: 120px;
      resize: vertical;
    }

    button {
      background: $bg-color;
      color: $primary-color;
      border: none;
      padding: 2rem 1.5rem;
      font-size: $font-size-lg;
      border-radius: $radius-md;
      font-weight: 600;
      cursor: pointer;
      transition: $transition-base;

      &:hover {
        background-color: $bg-color;
      }
    }
  }

  .footer-image {
    display: none; // Masqué par défaut (mobile & tablette)

    @media (min-width: 1024px) {
      display: block;
      width: 100%;
      height: auto;
      border-radius: 1rem;
      overflow: hidden;
      
      img {
        width: 100%;
        height: 470px;
        object-fit: cover;
        border-radius: 2rem;
      }
    }
  }

  .footer-socials {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    font-size: $font-size-xl;

    a {
      color: $danger-color;
      transition: $transition-base;

      &:hover {
        color: red;
      }
    }
  }

  .footer-credit {
    text-align: center;
    font-size: $font-size-md;
    color: $text;
  }
}

// ==============================
// Desktop Layout
// ==============================

@media (min-width: 1024px) {
  .footer-form {
    section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 4rem;
      align-items: center;
    }

    h2 {
      grid-column: 1 / -1;
      text-align: center;       // centre horizontalement
      justify-self: center;
      font-size: $font-size-xl;     // centre dans la grille
    }

    .footer-socials,
    .footer-credit {
      grid-column: 1 / -1;
    }
  }
}

