.presentation {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9f9f9;
    color: #1d1d1f;
    padding: 6rem 2rem;
    text-align: center;
    overflow: hidden;
  
    &__content {
      max-width: 1200px;
      margin: 0 auto;
    }
  
    h1 {
      font-size: 3rem;
        font-weight: 700;
      letter-spacing: -0.02em;
      margin-bottom: 1.5rem;
    }
  
    p {
      font-size: 1.6rem;
      line-height: 1.7;
      color: #555;
      margin-bottom: 2.5rem;
      
    }
  
    &__cta {
      display: inline-block;
      background: #eee;
      color: #111;
      padding: 1.5rem 2rem;
      border-radius: 10px;
      font-weight: 500;
      text-decoration: none;
      transition: background 0.3s ease;
  
      &:hover {
        background: #EBF1F9;
      }
    }
  
    @media (min-width: 768px) {
      text-align: left;
  
      &__content {
        text-align: center;
      }
      h1{
        font-size: 6.2rem;
      }
      p{
        font-size: 1.8rem;
      }
      &__cta {
        font-size: 2rem;
        padding: 1.5rem 3rem;
        
      }
    }
  }
  
  .wave-transition {
    position: relative;
    background: #EBF1F9;
    height: 110px;
    overflow: hidden;
  
    svg {
      width: 100%;
      height: 100%;
    }
  }
  
  @keyframes waveFloat {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-60px);
    }
  }