// ==============================
// HERO
// ==============================

.hero {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.7)
      ),
      url("/supahero.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20rem 1.5rem 9rem 1.5rem;
    margin: 0;
    text-align: center;
    
    h1 {
      font-size: $font-size-xl;
      color:$primary-color;
    }
    .highlight-title {
      position: relative;
      display: inline-block;
      color: #fff;
      margin-bottom: 5rem;
      font-size: $font-size-xl;
      font-weight: bold;
      z-index: 1;
    
      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0.1em;
        width: 100%;
        height: 0.5em;
        background: $bg-color; // couleur surligneur jaune pastel
        border-radius: 4px;
        z-index: -1;
        transform: scaleX(0);
        transform-origin: left;
        animation: underlineSweep 10s ease-in-out infinite;
      }
    }
    
    @keyframes underlineSweep {
      0% {
        transform: scaleX(0);
        opacity: 0;
      }
      30% {
        transform: scaleX(1);
        opacity: 1;
      }
      70% {
        transform: scaleX(1);
        opacity: 1;
      }
      100% {
        transform: scaleX(0);
        opacity: 0;
      }
    }
    
    
    
    
    
    
    
    
    
    
    
    

    h2 {
      font-size: 1.5rem;
      color: $primary-color;
      margin-bottom: 1rem;
      font-weight: 700;
      line-height: 1.1;
      @include slide-top;
    }
  
    p {
      font-size: $font-size-md;
      font-weight:400;
      margin: 0 auto 2rem;
      color: $primary-color;
      @include slide-top;
    }
  
    button {
      background: $bg-color;
      color: $primary-color;
      padding: 1.5rem 2rem;
      font-size: 1.5rem;
      font-weight: 600;
      cursor: pointer;
      border: 4px solid #111; // bordure visible
      border-radius: $radius-md;
      transition: all 0.2s ease;
      box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.8); // ombre vers la droite
      @include slide-top;
    
      &:hover {
        border-radius: $radius-lg;
        box-shadow: 8px 8px 0 rgba(0, 0, 0, 1); // ombre plus forte au hover
        transform: translateY(-2px); // petit lift au survol
      }
    
      &:active {
        transform: translate(2px, 2px); // effet d’appui enfoncé
        box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.8); // ombre plus petite
      }
    }
    
  }
  
  // ==============================
  // Desktop layout
  // ==============================
  @media (min-width: 768px) {
    .hero {
      min-height:50vh;
      padding: 0 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      h1 {
        font-size: $font-size-xl;
        max-width: 500px;
      }
  
      p {
        font-size: $font-size-md;
        max-width: 500px;
      }
  
      button {
        font-size: $font-size-lg;
      }
    }
  }
  @media (min-width: 1024px) {
    .hero {
      min-height:100vh;
      padding: 0 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      h1 {
        font-size: $font-size-xl;
        max-width: 900px;
      }
  
      p {
        font-size: $font-size-lg;
        max-width: 700px;
      }
  
      button {
        font-size: $font-size-lg;
      }
    }
  }

  