.project-section {
  display: flex;
  justify-content: center;
  background-color: #f9f9f9;
  margin: 2rem 0;
  width: 100%;
}

.project-card {
  display: flex;
  flex-direction: row;
  width: 100%; // Prend toute la largeur
  overflow: hidden;
}

.project-content {
  background-color: $danger-color;
  color: $primary-color;
  padding: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.project-content h2 {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  text-align: center;
}

.project-content p {
  margin-bottom: 1.5rem;
  font-size: $font-size-md;
  text-align: center;
}

.project-content button {
  background: #fff;
  color: #111;
  border: none;
  padding: 1rem 2rem;
  font-size: $font-size-md;
  font-weight: 600;
  cursor: pointer;
  border: 4px solid #111; 
  border-radius: $radius-md;
  transition: all 0.2s ease;
  box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.8);

  &:hover {
    border-radius: $radius-lg;
  }
}

.project-image {
  flex: 1;
  background: #f4f4f4;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}
